* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 20px;
}

.part1 {
  overflow: hidden;
  background-color: tomato;

  height: 200px;
  position: relative;
}

h1 {
  color: black;
  text-align: center;

  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.part2 {
  overflow: hidden;

  background-image: url(https://www.meissl.com/media/images/8f24db1f/schweiz.jpg);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.textTengah {
  background-color: rgba(129, 117, 105, 0.5);

  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  width: 50vh;
}

h3 {
  color: black;
  text-align: center;

  word-wrap: break-word;
  font-weight: 600;
}
